*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100%;
}

.logo img{
    width:10%;
}

main{
    display:flex;
}

main img{
    width:90%;
    height: 35em;
}

form{
    display: block;
}